<div class="content">
    <div>
        <h2><span>Установка газгольдеров!</span></h2>
        <p>Магистраль значительно удалена, альтернативным решением становится газгольдер. Зачем это нужно? По трем причинам: удобство, экономичность и экология. Конечно, отапливать дом можно углем, мазутом, дизельным топливом или даже дровами.</p>
        <p>Если из перечисленного есть варианты сравнимые по стоимости, то точно не экологические. Доставка газа осуществляется специальными газовозами, которые закачивают его в резервуар. Объем нужного газгольдера рассчитывают исходя из размеров дома.</p>
        <p>Преимущества владения газгольдером в личном хозяйстве очевидны, нам лишь остается констатировать факты:</p>
        <img src="../../../assets/p1.jpg">
        <li>Автономия – потребление газовых ресурсов становится доступным для вас в полном объеме. Ваша личная газопроводная система не зависит от давления в магистралях. Вам не страшны аварии общего газопровода. Кроме того, подобное оборудование существенно
            влияет на капитализацию вашего жилища.</li>
        <li>Экологическая составляющая – хотите в своем загородном доме ходить по белоснежному снегу, поскрипывая на дорожках? Тогда срочно отказывайтесь от мазута, солярки и угля. Почти полное отсутствие серных соединений в сжиженном газе, и его полное сгорание
            при достаточном количестве воздуха, гарантируют вам белоснежный снег и чистый воздух. Если даже, газгольдер выйдет из строя, и газ вырвется наружу, то ничего жуткого не произойдет. Сжиженный газ быстро переходит в паровою фазу и испаряется
            в атмосферу. Вам не стоит беспокоится о нанесении вреда почвенному покрову или саженцам.</li>
        <li>Увеличеный срок эксплуатации всего вашего хозяйства - котельное оборудование работающее на газовом топливе всегда имеет неоспоримое преимущество в виде долгого срока службы перед твердотопливными или жидкотопливными котлами. Дело в том, что отсутствие
            серы, благоприятно сказывается на взаимодействии с металлом. Не имея реакции с серой, газовое оборудование будет работать верой и правдой на 30% дольше, по сравнению с традиционными отопительными агрегатами.</li>
        <li>Сгорание без запаха – современное газовое оборудование повсеместно располагается в квартирах многоэтажек. Процессы сгорания голубого топлива в устройствах протекают без выделения резких запахов, а вредные продукты выводятся наружу при помощи дымохода.</li>

    </div>

    <div>
        <h2><span>Как установить газгольдер?</span></h2>
        <img src="../../../assets/p2.jpg">
        <p>Установить газгольдер на участке не так сложно, но главное правильно подобрать место на участке, где будет расположена емкость для хранения газа, правильно и безопасно ее установить, закрепить к бетонному основанию.</p>
        <p>Для этого в зависимости от объема газгольдера выкапывается котлован на глубину не промерзания грунта, дно котлована засыпается песком 20-30 см, выравнивается.</p>

    </div>

    <div>
        <h2><span>Устройство газгольдера</span></h2>
        <br>
        <img src="../../../assets/p3.jpg">
        <li>Кран конденсатосборника</li>
        <li>Предохранительно-сбросной клапан</li>
        <li>Заправочный клапан</li>
        <li>Газовый редуктор (регулятор) с клапанами безопасности</li>
        <li>Газопровод</li>
        <li>Клапан отбора паровой фазы</li>
        <li>Процентовочные клапаны</li>
        <li>Клапан отбора жидкой фазы</li>
        <li>Манометр</li>
    </div>

    <div>
        <h2>Часто задаваемые <span>вопросы</span></h2>
        <div class=faqs>
            <details>
                <summary>Что такое автономная газификация?</summary>
                <p>Автономная газификация — это абсолютно независимая от центральных коммуникаций, система газоснабжения, в основу которой входит газгольдер (емкость для хранения сжиженного газа), от которой проложен подземный или надземный трубопровод (газопровод)
                    к источнику потребления газа (газовый котел, газовый водонагреватель, газовый электрогенератор).</p>
            </details>
            <details>
                <summary>Как правильно выбрать объем?</summary>
                <p>Для того что бы правильно подобрать объем газгольдера для Вашего дома, дачи, коттеджа или какого то другого строения Вам необходимо понимать что расход газа на 1 кв.м. в год примерно 21 литр. Из это следует к примеру что для отопления
                    дома площадью 150 кв.м. необходимо 3150 литров (21 литр * 150 кв.м. = 3150 литров) так же если Вы будете использовать систему и для газовой плиты то к запасу нужно прибавить еще 20%. Помните что любая газовая емкость заправляется под
                    85% от общего объема.</p>
            </details>
            <details>
                <summary>Как часто нужно заправлять емкость?</summary>
                <p>Для того что бы определить как часто нужно заправлять газгольдер нужно произвести расчет для каких целей Вы его используете. Средний расход одного газового прибора можно узнать исходя из технической документации (паспорт) прибора. В среднем
                    если Вы планируете использовать систему в качестве отопления и горячего водоснабжения то Вам необходимо 21 литр сжиженного газа на 1 квадратный метр в год, т.е. если дом площадь которого составляет 135 квадратных метров то в год Вам
                    понадобится не менее 2835 литров (135кв.м.*21л=2835л/год). Из этого нужно понимать что для дома площадью 135 кв.м. необходим газгольдер объемом не менее чем 3500 литров, так как полезный объем данной емкости составляет 2975 литров
                    или 85%. В таком случае Вам потребуется 1 заправка в год.</p>
            </details>
            <details>
                <summary>Регистрация системы в РОСТЕХНАДЗОРЕ?</summary>
                <p>Многие потенциальные заказчики интересуются вопросом необходима ли регистрация газгольдера, устанавливаемого или уже установленного на участке в государственных органах надзора.</p>
                <p>Установленный на Вашем участке газгольдер представляет собой капитальное строение, которое входит в комплекс индивидуального домовладения, является установкой коммунально-бытового назначения для автономного газоснабжения Вашего дома и
                    не предназначен для производственной или иной коммерческой деятельности. Более того, на физических лиц не распространяется действие ПБ 12-609-03 (Приказ Ростехнадзора от 01.08.2006 N 738). Цитата: п1.1.5. Правила не распространяются
                    на: системы автономного отопления и горячего водоснабжения административных, общественных и бытовых зданий с котлами, теплогенераторами, без выработки тепловой энергии для производственных целей, предоставления услуг и (или) при суммарной
                    тепловой мощности установленного оборудования 100 кВт и менее.</p>
                <p>В силу п. 6.2.3 Правил устройства и безопасной эксплуатации сосудов, работающих под давлением, утвержденных постановлением Госгортехнадзора № 91 от 11.06.2003г. регистрация сосудов производится на основании письменного заявления владельца.
                    Закрытый список владельцев, которые обязаны зарегистрировать газгольдер, установлен п. 6 приложения 1 вышеназванных Правил. В соответствии с данным списком регистрация газгольдера осуществляется в случае его владения организацией или
                    индивидуальным предпринимателем.</p>
                <p>В силу п.1 Положения о Федеральной службе по экологическому и технологическому и атомному надзору, утвержденному постановлением Правительства Российской Федерации № 401 от 30 июля 2004г. (в ред. Постановлений Правительства РФ от 21.01.2006
                    N 23, от 14.12.2006 N 767, от 29.05.2008 N 404, от 07.11.2008 N 814, от 27.01.2009 N 43, от 08.08.2009 N 649) Федеральная служба по экологическому, технологическому и атомному надзору (Ростехнадзор) не осуществляет функции по контролю
                    и надзору в сфере безопасности бытовых установок и сетей.</p>
                <p>На основании вышеизложенного, резервуар (сосуд для хранения СУГ), расположенный на Вашем земельном участке, не подлежит регистрации в Ростехнадзоре</p>
            </details>
        </div>
    </div>
</div>