<div class="content">
    <h2>МЫ <span>РАБОТАЕМ</span> ОПИРАЯСЬ ТОЛЬКО НА НОРМЫ И <span>ПРАВИЛА БЕЗОПАСНОСТИ</span> РФ</h2>
    <p>Мы не предлагаем, автономную газификацию в разных комплектациях, как это делают многие. Не спорим, что без какой-нибудь комплектующей, автономная газификация будет выполнять свою задачу, но любая порядочная организация должна и обязана выполнить монтаж
        системы автономного газоснабжения соблюдая нормы и правила безопасности.</p>
    <p>Для защиты газопровода, используем специальный изоляционный четырехслойный полимерный материал, изготовленный методом соэкструзии из бутилкаучука и термосветостабилизированного полиэтилена. Такой состав обеспечивает отличную прочность, хорошую сопротивляемость
        перепадам температур, низкое водопоглощение, сохранение защитных свойств даже при негативном влиянии окружающей среды. Использование защитной пленки имеет принципиальное значение как для наружной ,так и для подземной прокладки газопровода.</p>
    <li>Изоляционный материал защищает наружный газопровод от пагубного воздействия ультрафиолетовых лучей, влаги, защищает от механических повреждений.</li>
    <li>Подземный газопровод ,благодаря данной изоляции ,получает защиту от влаги и блуждающих токов.</li>
    <p>Также мы рекомендуем раз в месяц несколько раз открыть и закрыть кран для предотвращения образования отложений на поверхности шара.</p>
</div>