<div class="content">
    <div>
        <h2><span>Контакты</span></h2>
        <h3><span>Часы работы:</span> 9:00 - 20:00</h3>
        <h3><span>Телефон:</span> +7-952-458-32-40</h3>
        <h3><span>Email:</span> gazgoldernn@bk.ru</h3>
        <h3><span>Наш адрес:</span> г. Заволжье, Привокзальная улица, д 4 </h3>
    </div>
    <div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2c7e5f05ea77731b28823775969b19f1a4defdff1690bed41047a31bf8589a09&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
    </div>
</div>