<app-toppanel>
</app-toppanel>

<nav>
    <div>
        <a routerLink="">Главная</a>
        <a routerLink="preeminence">Наше приемушество</a>
        <a routerLink="service">Услуги</a>
        <a routerLink="contacts">Контакты</a>
    </div>
    <div>
        <a (click)="showModal()">Заказать звонок</a>
        <a class="vk" href="https://vk.com/gazgoldernn" target="blank" title="Мы в Вконтакте"><img src="assets/vklogo.png "></a>
        <a class="instagram" href="https://www.instagram.com/gazgoldernn" target="blank"  title="Мы в Instagram"><img src="assets/instlogo1.png "></a>
    </div>
    <div class="scroll-indicator">
        <div id="progress-bar">
    </div>
</div>

</nav>

<div id="modal">
    <div>
        <span>Заказ звонка</span>
        <span class="close" (click)="closeModal()">&times;</span>
    </div>

    <form [formGroup]="myForm" (submit)="submit()">
        <span>Ваше имя:</span>
        <input formControlName="Username" required type="text" placeholder="Как к вам обращаться?">
        <div class="alert alert-danger" *ngIf="myForm.controls['Username'].invalid && myForm.controls[ 'Username'].touched">
            Не указано имя
        </div>
        <span>Ваш телефон:</span>
        <input formControlName="Userphone" required type="tel" placeholder="+79524583240">
        <div class="alert alert-danger" *ngIf="myForm.controls['Userphone'].invalid && myForm.controls[ 'Userphone'].touched">
            Не указан телефон
        </div>
        <input [disabled]="myForm.invalid" type="submit" value="Заказать звонок">
    </form>
</div>


<div class="content">
    <router-outlet></router-outlet>
</div>


<footer>
    <div>
        <span>Автономная газификация</span>
        <span>Компания ООО "Профит "</span>
    </div>
    <div>
        <span>г. Заволжье, Привокзальная улица, д 4</span>
        <span>+7-952-458-32-40</span>
        <span>gazgoldernn@bk.ru</span>
    </div>
</footer>