<div class="content">
    <div class="bigHeader block">
        <h1><span>Автономная газификация</span> частных домов, дач, коттеджей за <span>1 день</span></h1>
        <h2>от <span>180 000</span> рублей.</h2>
    </div>

    <div class="slideshow">
        <h1><span>Автономную газификацию</span> приминяют для отопления</h1>
        <div>
            <div class="mySlides">
                <img src="../../../assets/1.jpg">
                <div class="list">
                    <li>Коттеджей</li>
                    <li>Частных домов</li>
                    <li>Загородных дач</li>
                </div>
            </div>
            <div class="mySlides">
                <img src="../../../assets/2.jpg">
                <div class="list">
                    <li>Хостелов</li>
                    <li>Отелей</li>
                    <li>Кэмпингов</li>
                </div>
            </div>
            <div class="mySlides">
                <img src="../../../assets/3.jpg">
                <div class="list">
                    <li>Кафе</li>
                    <li>Баров</li>
                    <li>Ресторанов</li>
                </div>
            </div>
            <div class="mySlides">
                <img src="../../../assets/4.jpg">
                <div class="list">
                    <li>Заводов</li>
                    <li>Складов</li>
                    <li>Автосервисов</li>
                </div>
            </div>
        </div>
        <button class="leftbtn" (click)="plusDivs(-1)">&#10094;</button>
        <button class="rightbtn" (click)="plusDivs(1)">&#10095;</button>
    </div>

    <div class="block">
        <h1><span>Приемущества</span> системы</h1>
        <div class="preeminencelist">
            <div>
                <h2>Круглогодичность</h2>
                <li>В доме будет всегда уютно и тепло</li>
                <li>Нет зависимости от сезона и времени суток</li>
                <li>Вы самостоятельно контролируете работу системы и свои расходы</li>
            </div>

            <div>
                <h2>Автономность</h2>
                <li>Система не зависит от центральных коммуникаций</li>
                <li>Не требует подключение электричества</li>
                <li>Контроль с помощью датчиков давления</li>
            </div>

            <div>
                <h2>Безопасность</h2>
                <li>Специальная сталь для нефтепродуктов</li>
                <li>Защитное покрытие от коррозии и блуждающих токов</li>
            </div>
        </div>
    </div>
    <div class="block">
        <h1>Не знаете что выбрать?</h1>
        <h2>Сравните несколько самых популярных методов отопления</h2>
        <div class="choiselist">
            <div>
                <h2>Дрова или пеллеты</h2>
                <h3>2,1 руб. за кВт/ч</h3>
                <li>Дешевая эксплуатация</li>
                <li>Автостоимость от ценральных коммуникаций</li>
                <li class="bad">Неудобно хранить</li>
                <li class="bad">Требует постоянной поддержки горения</li>
                <li class="bad">Влияет на экологию</li>
            </div>

            <div>
                <h2>Сжиженный газ</h2>
                <h3>2,24 руб. за кВт/ч</h3>
                <li>Дешевая эксплуатация</li>
                <li>Не влияет на экологию</li>
                <li>Удобство хранения</li>
                <li>Простота использования</li>
                <li>Автостоимость от ценральных коммуникаций</li>
            </div>

            <div>
                <h2>Дизельное топливо</h2>
                <h3>4,3 руб. за кВт/ч</h3>
                <li>Автостоимость от ценральных коммуникаций</li>
                <li>Простота использования</li>
                <li class="bad">Влияет на экологию</li>
                <li class="bad">Неудобно хранить</li>
                <li class="bad">Дорогая эксплуатация</li>
            </div>

            <div>
                <h2>Электроэнергия</h2>
                <h3>от 5 руб. за кВт/ч</h3>
                <li>Не влияет на экологию</li>
                <li>Простота использования</li>
                <li class="bad">Дорогая эксплуатация</li>
                <li class="bad">Может нестабильно работать</li>
                <li class="bad">Зависит от энергоснабжения</li>
            </div>
        </div>
    </div>
</div>